.banner{
    
    height: 700px;
    background-size: cover;
    color: #fff;
}

.content{
    padding-top: 140px;
    height: 190px;
}

.title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.Button1{
    color: #000000;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(255, 255, 255);
}

.Button2{
    color: #fdfdfd;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 10px;
    background-color: rgba(104, 104, 104, 0.5);
}

.desccription{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin-left: 50px;
    margin-top: 10px;
    width: 45rem;
}

.title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 50px;
    margin-top: 50px;
}

.banner_buttons{
    margin-left: 50px;
}

.Button1:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.Button2:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.fade_bottom{
    margin-top: 320px;
    height: 50px;
    background: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
}