*{
    margin: 0;
    padding: 0;
}

.NavBar{
    position: fixed;
    width: 100%;
    top:0;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
    transition-timing-function: ease-in;
    transition: all 0.5s ;
}

.Logo{
    position: fixed;
    width: 100px;
    left: 20px;
    
}

.Avatar{
    position: fixed;
    right: 40px;
    width: 30px;
    
}

.Avatar:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.NavBarIcons1{
    position: fixed;
    left: 150px;
    color: #fff;
}

.NavBarIcons2{
    position: fixed;
    color: #fff;
    left: 205px;
}

.NavBarIcons3{
    position: fixed;
    color: #fff;
    left: 288px;
}

.NavBarIcons4{
    position: fixed;
    color: #fff;
    left: 355px;
}

.NavBarIcons5{
    position: fixed;
    color: #fff;
    left: 475px;
}

.NavBarIcons6{
    position: fixed;
    color: #ffffff;
    left: 540px;
}

.NavBarIcons1,.NavBarIcons2,.NavBarIcons3,.NavBarIcons4,.NavBarIcons5,.NavBarIcons6,.NavBarIcons7{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.NavBarIcons1:hover,.NavBarIcons2:hover,.NavBarIcons3:hover,.NavBarIcons4:hover,.NavBarIcons5:hover,.NavBarIcons6:hover,.NavBarIcons7:hover{
    cursor: pointer;
    color: 	#E50914;
    transform: scale(1.1);
}

.NavBarIcons7{
    position: fixed;
    color: #ffffff;
    right: 120px;
}

.SearchArea{
    position: fixed;
    right: 300px;
    padding: 5px;
    border-radius: 30px;
    width: 290px;
    font-size: 20px;
    outline: none;
    border: 0;
    color: #fff;
    background-color: transparent;
}

.SearchIcon{
    position: fixed;
    width: 23px;
    right: 270px;
    margin-top: 5px;
    height: 23px;
}